.onboarding-container {
  max-width: 480px; /* 모바일 기준 */
  margin: 0 auto;
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  justify-content: center; /* 아래로 정렬 */
  min-height: 100vh; /* 화면 전체 높이 */
  box-sizing: border-box; /* 패딩 포함 크기 계산 */
}

.onboarding-image-container {
  text-align: center;
  margin-top: 0;
  margin-bottom: 35px;
}

.onboarding-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.onboarding-description {
  margin-top: 16px;
  font-size: 1rem;
  color: var(--color-text-sub);
  text-align: center;
}

.onboarding-login {
  text-align: center;
}
